.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20vw;

  .label {
    text-align: left;
    padding: 0.1rem;
  }
  input {
    padding: 0.3rem;
  }
  button {
    padding: 0.3rem;
    margin-top: 1rem;
  }
}
