.container {
  // background-color: blue;
  width: 40vw;
  .form {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .label {
      text-align: left;
      padding: 0.2rem;
    }
    input {
      padding: 0.4rem;
      border-radius: 10px;
      text-align: left;
    }
    button {
      padding: 0.3rem;
      margin-top: 1rem;
      background-color: white;
      border: 2px solid green;
      border-radius: 5px;
      &:hover {
        cursor: pointer;
        background-color: aquamarine;
      }
    }
  }
}
